*
{
	margin: 0;
	padding: 0;
	font-size: sans-serif;
}

.team-section
{
	overflow: hidden;
	text-align: center;
	background: linear-gradient(135deg, rgba(76,76,76,1) 0%, rgba(89,89,89,1) 12%, rgba(5,0,5,1) 22%, rgba(71,71,71,1) 36%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
	padding: 60px;
}

.team-section h1
{
	text-transform: uppercase;
	margin-bottom: 60px;
	color: white;
	font-size: 40px;
}

.border
{
	display: block;
	margin: auto;
	width: 160px;
	height: 3px;
	color: red;
	background: #3498db;
	margin-bottom: 40px;
}

.ps
{
	margin-bottom: 40px;
}

.ps a
{
	display: inline-block;
	margin: 0 30px; 
	overflow: hidden;
	border-radius: 15%;
}

.ps a img
{
	width: 100%;
	filter: grayscale(100%);
	transition: 0.4s all;
}

.ps a:hover > img
{
	filter: none;
}

.section
{
	width: 600px;
	margin: auto;
	font-size: 20px;
	color: white;
	text-align: justify;
	height: 0;
	overflow: hidden;
	margin-bottom: 50px;
}


.section:target
{
	height: auto;
}


.name
{
	display: block;
	margin-bottom: 30px;
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
}